@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
* {
  font-family: 'Open Sans';
}
body {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgb(70, 64, 255);
  padding: 0px 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.todo-form {
  margin-bottom: 20px;
  width: 100%;
  margin-top: 20px;
}
.todo-input {
  background-color: #efefef;
  border-radius: 10px;
  border: 1px solid rgb(70, 64, 255);
  width: 300px;
  height: 45px;
  padding-left: 10px;
  margin-right: 10px;
}
.todo-btn {
  background-color: rgb(70, 64, 255);
  color: #fff;
  font-weight: 500;
  padding: 8px;
  height: 45px;
  border-radius: 10px;
}
svg {
  color: #fff;
}

.fa-square-pen {
  margin-left: 15px;
  margin-right: 15px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

